body {
  background-color: #191765;
  background-image: url(./images/Ellipse\ 18@2x.png);
  background-repeat: no-repeat;
  background-position-y: 50px;
  background-size: 100px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.nav-bar h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  animation-name: rotate;
  animation-duration: 2s;
}

.nav-bar img {
  height: 30px;
}

.jumbotron {
  width: 75%;
  margin: auto;
  text-align: center;
}

.jumbotron h1 {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 45px;
}

.jumbotron h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-top: -40px;
}

.prog-lang-skills p {
  color: #c8c8d4;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.prog-lang-skills {
  width: 100vw;
  background-image: url(./images/Ellipse\ 19.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 140px;
  background-position-y: 10px;
}

.prog-lang-skills .prog-lan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.prog-lang-skills .prog-lan .prog-lan-ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
}

.prog-lang-skills .prog-lan ul {
  list-style: none;
}

.prog-lang-skills .prog-lan ul .list-head {
  color: #9490ff;
  font-size: 12px;
  font-weight: 500;
}

.media-icons li {
  display: inline-block;
  margin: 0 10px;
  transition: all 500ms ease-in;
}

.media-icons li:hover {
  transform: scale(1.2);
  transform: translate(3px, 3px);
}

.prog-lang-skills .prog-lan ul li {
  color: #f5f5ff;
  font-size: 15px;
  line-height: 35px;
  font-weight: 400;
}

.social-media {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.media-icons {
  list-style: none;
}

.social-media .hidden {
  visibility: hidden;
}

.social-media .work-below {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a2a3ae;
}

.recent-works {
  display: grid;
  grid-template-columns: 1fr;
}

.recent-work-container {
  background-image: url(./images/Ellipse\ 19@2x.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-y: 150px;
}

.recent-work-container1 {
  background-image: url(./images/Ellipse20.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right;
  background-position-y: 200px;
}

.recent-work-container2 {
  background-image: url(./images/Ellipse21@2x.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-y: 150px;
}

.recent-work-container3 {
  background-image: url(./images/Ellipse22@2x.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-y: 150px;
  background-position: right;
}

.my-works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}

.my-works h2 {
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
  color: #9490ff;
  font-size: 40px;
  font-weight: 500;
}

.my-works .my-work-contain h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin: 55px 0;
}

.contact p {
  text-align: center;
  line-height: 30px;
  font-family: 'inter', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.my-works .my-work-contain p {
  color: #dcdce8;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 60px 0;
}

.my-works .my-work-contain img {
  object-fit: contain;
}

.my-works .my-work-contain ul {
  display: flex;
  gap: 10px;
  margin-left: -50px;
  list-style: none;
  color: #fff;
}

.my-works .my-work-contain ul li {
  border-left: 1px grey solid;
  padding-left: 15px;
  font-weight: 500;
  line-height: 20px;
  font-size: 15px;
}

.my-works .my-work-contain ul .li-no-border {
  border-left: none !important;
  padding-right: 0 !important;
}

.btn {
  padding: 20px;
  background-color: #7d73fc;
  color: #edecff;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
  transition: all 1s linear;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contact h2 {
  color: #9390ff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 85%;
}

form input {
  margin: 10px 0;
  width: 100%;
  height: 48px;
  padding: 0 15px;
}

form textarea {
  margin: 10px 0;
  width: 100%;
  padding: 0 15px;
}

footer .division {
  height: 2px;
  width: 80%;
  background-color: #646369;
}

footer .footer-email {
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: -10px;
  text-align: center;
}

.btn:hover {
  background-color: #2e00fd;
}

.btn:active {
  background-color: #5e42d7;
}

.nav-bar .nav-desktop-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 8px;
}

.nav-desktop-links .desktop-head {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.links:hover {
  background-color: #7d73fc;
  border-radius: 5px;
  transform: scale(1);
}

.nav-bar .nav-desktop-links .links {
  margin: 0 10px;
  transition: all 1s ease-in;
}

.nav-bar .nav-desktop-links a {
  text-decoration: none;
  color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }

  .jumbo-ton-contain img {
    display: none;
  }

  .social-media .work-below-desktop {
    display: none;
  }

  .contact .h2-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }

  body {
    background-image: none;
  }

  .jumbo-ton-contain img {
    width: 120px;
    object-fit: contain;
    position: relative;
    left: 15px;
    top: 160px;
  }

  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin: auto;
    text-align: center;
  }

  .jumbotron p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .prog-lang-skills .prog-lan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 0 auto;
  }

  .prog-lang-skills .prog-lan .prog-lan-ul {
    display: flex;
    justify-content: space-between;
    border-top: 1px grey solid;
    flex-wrap: nowrap;
    border-bottom: 1px grey solid;
  }

  .prog-lang-skills .prog-lan ul {
    padding-left: 0;
  }

  .prog-lang-skills {
    width: 100vw;
    background-image: url(./images/circle1header@2x.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 150px;
    background-position-y: 120px;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .social-media .work-below {
    display: none;
  }

  .social-media .work-below-desktop {
    display: flex;
  }

  .my-work-card {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
  }

  .my-work-card1,
  .my-work-card3 {
    flex-direction: row-reverse;
  }

  .my-works .my-work-img1 {
    width: 60%;
  }

  .my-works img {
    width: 100%;
    height: 300px;
  }

  .my-works .my-work-text {
    width: 40%;
  }

  .my-works .my-work-contain h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
  }

  .contact p {
    font-size: 16px;
  }

  .icons-email p {
    font-size: 16px;
  }

  .my-works .my-work-contain p {
    color: #dcdce8;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 10px 0;
  }

  .my-works .my-work-contain ul li {
    border-left: 1px grey solid;
    padding-left: 15px;
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 45%;
  }

  footer .division {
    visibility: hidden;
  }

  form input {
    margin: 10px 0;
    width: 100%;
    height: 48px;
    padding: 0 15px;
  }

  form textarea {
    margin: 10px 0;
    width: 100%;
    height: 120px;
    padding: 0 15px;
  }

  .contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .btn {
    padding: 10px;
    background-color: #7d73fc;
    color: #edecff;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
  }

  .recent-work-container {
    background-image: url(./images/Ellipse\ 19@2x.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-y: -151px;
    padding: 30px 0;
  }

  .recent-work-container1 {
    background-image: url(./images/Ellipse20.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right;
    background-position-y: -1px;
    padding: 30px 0;
  }

  .recent-work-container2 {
    background-image: url(./images/Ellipse21@2x.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-y: 1px;
    padding: 30px 0;
  }

  .recent-work-container3 {
    background-image: url(./images/Ellipse22@2x.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-y: -10px;
    background-position: right;
    padding: 30px 0;
  }

  .my-works h2 {
    width: 100%;
    border-bottom: none;
    color: #9490ff;
    font-size: 30px;
    font-weight: 700;
    text-align: left !important;
  }

  .recent-works .divider {
    height: 1px;
    width: 100%;
    background-color: grey;
    margin-bottom: 20px;
  }

  .jumbotron h1 {
    color: #7d73fc;
    font-size: 48px;
    font-weight: 700;
    margin-top: -100px;
  }

  .icons-email {
    display: flex;
    align-items: center;
  }

  .icons-email-li {
    display: flex;
    margin-bottom: 35px;
  }

  .icons-email-li li a img {
    width: 15px;
    height: 15px;
  }

  .contact .h2-mobile {
    display: none;
  }

  .contact h2 {
    font-size: 25px;
  }

  .my-works .my-work-contain ul {
    display: flex;
    gap: 10px;
    margin-left: -50px;
    list-style: none;
    color: #fff;
  }
}
